html,
body {
    margin: 0;
    font-family: 'Barlow', system-ui, sans-serif;
    font-size: 18px;

    --fg: #222;
    --bg: #fafafa;

    background: var(--bg);
    color: var(--fg);
    min-height: 100vh;
}

body.dark {
    --fg: #fafafa;
    --bg: #222;
}

header {
    margin-top: 0;
    margin-bottom: 2em;
}

.header-left {
    flex-grow: 1;
}

h1 {
    margin: 0;
    font-weight: normal;
}

p.sub {
    opacity: .5;
    font-size: .8em;
    margin: 0;
    margin-top: .8em;
}

input,
textarea, .p-heights {
    font-size: 1em;
    border: 0;
    outline: 0;
    padding: 0;
    font-family: 'Barlow', system-ui, sans-serif;
    background: transparent;
    color: var(--fg);
}

main.app {
    max-width: 800px;
    padding: 2em 0;
    margin: 0 auto;
    width: calc(100% - 16px);
}

.block,
.block-heading,
.block-body {
    width: 100%;
}

header,
.block-heading,
.button-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.block-heading {
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: .4em;
}

.block-heading input {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}

.block-body {
    position: relative;
}

button {
    border: 0;
    outline: 0;
    padding: .3em .5em;
    border-radius: 4px;
    background: 0;
    cursor: pointer;
    font-size: 1em;
    color: var(--fg);
}

button:focus,
button:hover {
    background: var(--fg);
    color: var(--bg);
}

button:active {
    opacity: .6;
}

textarea, .p-heights {
    box-sizing: border-box;
    width: 100%;
    min-height: 2em;
    line-height: 1.5em;
    margin: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.p-heights {
    visibility: hidden;
}

.p-heights.end-line {
    padding-bottom: 27px;
}

textarea {
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
